<style type="text/css">
  .reveal h1 { font-size: 1.8em; }
  .reveal blockquote {
  display: block;
	position: relative;
	width: 70%;
	margin: 5px auto;
	padding: 5px;
  font-size: 140%;

	font-style: bold;
	background: rgba(160, 160, 160, 0.5);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
	.reveal blockquote p:first-child,
	.reveal blockquote p:last-child {
		display: inline-block;
	}
	p{
	  color: black;
	}
	li{
	  color: black;
	}
	
	h1{
	  color: black;
	}
	h2{
	  color: black;
	}
	h3{
	  color: black;
	}
	hgroup{
	  color: black;
	}

  
</style>