  .reveal h1 { font-size: 1.8em; }
  .reveal blockquote {
  display: block;
	position: relative;
	width: 70%;
	margin: 5px auto;
  font-size: 140%;

	font-style: normal;
	background: rgb(160, 160, 160, 0.5);
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
	.reveal blockquote p:first-child,
	.reveal blockquote p:last-child {
		display: inline-block;
	}
	p{
	  color: black;
	}
	li{
	  color: black;
	}
	
	h1{
	  color: black;
	}
	h2{
	  color: black;
	}
	h3{
	  color: black;
	}
	hgroup{
	  color: black;
	}
	
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}